<div style="
    background-color: rgb(18, 40, 86);
    color: #dedddd;
    text-align: center;
    margin-top: 50px;
    padding: 30px 20px;
    font-family: 'Inter', 'Open Sans', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 0.675rem;
">

    <div style="margin-bottom: 15px; line-height: 1.6;">
        Contact us at: aryan_2024bite030@nitsri.ac.in <br>
        Phone: +91 910xxxxxx3
    </div>

    <div style="margin-bottom: 20px;">
        <a href="#" style="color:#dedddd; margin: 0 8px; text-decoration:none;">Terms of Service</a> |
        <a href="#" style="color:#dedddd; margin: 0 8px; text-decoration:none;">Privacy Policy</a> |
        <a href="#" style="color:#dedddd; margin: 0 8px; text-decoration:none;">Cookie Policy</a> |
        <a href="#" style="color:#dedddd; margin: 0 8px; text-decoration:none;">Accessibility</a> |
        <a href="#" style="color:#dedddd; margin: 0 8px; text-decoration:none;">Ads info</a> |
        <a href="#" style="color:#dedddd; margin: 0 8px; text-decoration:none;">More</a>
        <div style="margin-top: 10px;"> 2025 B__ Corp.</div>
    </div>

    <div style="
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 10px;
    ">
        <a href="https://www.linkedin.com/in/aryan-gupta-it-nits/"
            style="text-decoration:none; color:#ffffff;">
            LinkedIn
        </a>

        <a href="https://github.com/aryangupta-19"
            style="text-decoration:none; color:#ffffff;">
            GitHub
        </a>

        <a href="https://www.instagram.com/_aryangupta8/"
            style="text-decoration:none; color:#ffffff;">
            Instagram
        </a>

        <a href="https://x.com/aryan_in__19"
            style="text-decoration:none; color:#ffffff;">
            Twitter
        </a>
    </div>
</div>