body{
    background-color: rgb(15, 37, 81);
    color:white;
}
h1{
    color: rgb(237, 146, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(18, 40, 86);
    font-size:3rem;
}

h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.9rem;
    color:rgb(255, 170, 14);
    background-color: rgb(18, 40, 86);
    margin-top: 3rem;
}
.login-page{
    /* background-color:black; */
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.login{
    background-color: rgb(18, 40, 86);
    padding:3rem;
    margin-top:3rem;
}

label{
    font-size: 1.4rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    border-radius:10px;
    /* background-color:rgb(225, 225, 225); */
    font-size:1.2em;
    width:fit-content;
    margin-top:0.8rem;
}

button{
    font-size: 1.5em;
    color: black;
    background-color: #e4b256;
    border: 2px solid black;
    border-radius: 6px;
    display:flex;
    margin-top: 3rem;
    display: inline-block;
    margin-right:2rem;
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;   /* makes it circular */
    object-fit: cover;    /* crops nicely */
    border: 2px solid white; /* optional */
    margin-top:1rem;
}