body{
       background-color: rgb(15, 37, 81);
}
.posts-container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap: 50px;
    margin-left: 20px;
}
#nav{
    text-align:center;
}
.post{
    background-color:rgb(242, 189, 125);
    height: 430px;
    width:300px;
    padding: 20px 20px 0px 20px;
}

h1{
    color: red;
}
#caption{
    color:rgb(82, 81, 81);
}
#create-btn{
    font-size:2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:900;
    background-color:rgb(117, 236, 13);
    text-decoration: none;;
    border: 2px solid rgb(38, 255, 0);
    border-radius:14px;
    color:black;
    text-align:center;
    padding:4px;
}

.likes{
    display:flex;
    align-items:center;
    height:30px;
    padding-top:4px;
    font-weight:bolder;
    font-style:arial;
}

#like-icon{
    color:red;
}

#show-post-btn{
    font-size:1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:500;
    background-color:rgb(242, 227, 184);
    text-decoration: none;;
    border: 0.5px solid brown;
    /* border-radius:4px; */
    color:black;
    text-align:center;
    padding:1px;
    box-shadow: 2px 2px 6px rgba(215, 139, 77, 0.4); 
}

h5 {
    /* display: block; */
    font-size: 0.83em;
    /* margin-block-start: 1.67em; */
    /* margin-block-end: 1.67em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    font-weight: bold;
    unicode-bidi: isolate;
    text-align:right;
}

.sh-ed-btn{
    /* background-color:pink; */
    display:flex;
    justify-content: space-between;

}

#dlt-post{
    background-color:rgb(244, 147, 147);
    border: 0.5px solid red;
    border-radius:10px;
    box-shadow: 1px 1px 7px red;
}